<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Robot">
    <xacro:arg name="prefix" default=""/>
    <xacro:arg name="robot_name" default="ugv_ddsm"/>
    <xacro:arg name="use_gazebo" default="false"/>
    
    <xacro:include filename="$(find ugv_ddsm_description)/urdf/mech/Robot.urdf"/>
    <xacro:include filename="$(find ugv_ddsm_description)/urdf/mech/Robot_sensors.urdf.xacro"/>
    <xacro:include filename="$(find ugv_ddsm_description)/urdf/control/gazebo_sim_ros2_control.urdf.xacro" />
    <xacro:load_gazebo_sim_ros2_control_plugin
    robot_name="$(arg robot_name)"
    use_gazebo="$(arg use_gazebo)"/>
    
    <xacro:include filename="$(find ugv_ddsm_description)/urdf/control/ugv_ddsm_ros2_control.urdf.xacro" />
    <xacro:ugv_ddsm_ros2_control
    prefix="$(arg prefix)"
    use_gazebo="$(arg use_gazebo)"/>

</robot>