<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find ugv_ddsm_description)/urdf/sensors/rgbd_camera.urdf.xacro"/>
  <xacro:include filename="$(find ugv_ddsm_description)/urdf/sensors/imu.urdf.xacro"/>
  <xacro:include filename="$(find ugv_ddsm_description)/urdf/sensors/lidar.urdf.xacro"/>
  <xacro:arg name="prefix" default=""/>
  <!-- <xacro:arg name="robot_name" default="ugv_ddsm"/> -->

  <!-- Instantiate the rgbd camera -->
  <xacro:rgbd_camera 
    prefix="$(arg prefix)"
    camera_name="cam_left"
    xyz_offset="0.15 0.05 0.15"
    rpy_offset="0 0 0.2"/>

  <xacro:rgbd_camera 
    prefix="$(arg prefix)"
    camera_name="cam_right"
    xyz_offset="0.15 -0.05 0.15"
    rpy_offset="0 0 -0.2"/>

  <xacro:rgbd_camera 
    prefix="$(arg prefix)"
    camera_name="cam_back"
    xyz_offset="-0.15 -0.0 0.15"
    rpy_offset="0 0 -3.1415926"/>

  <xacro:lidar_sensor
      prefix="$(arg prefix)"
      parent="base_link"
      frame_id="laser_frame"
      xyz_offset="0 0 0.1825"
      rpy_offset="0 0 0"
      mesh_xyz_offset="0 0 0"
      mesh_rpy_offset="${-M_PI/2} 0 0"
      topic_name="scan"/>   

  <!-- Instantiate the imu sensor -->
  <xacro:imu_sensor
    prefix="$(arg prefix)"
    parent="base_link"
    frame_id="imu"
    xyz_offset="0 0 0.1"
    rpy_offset="0 0 0"
    update_rate="15.0"
    topic_name="imu/data"/>
</robot>